# vscode files, but include workspace settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# temporary files
.DS_Store

# npm
node_modules

# web-ext output
web-ext-artifacts
